name: CI PipeLine

on:
  push:
    branches: [ main ]
  # pull_request:
  #   branches: [ main ]

  jobs:
    build:
      runs-on: ubuntu-latest

      steps:
      - name: Set up Node.js
        uses: actions/setup-node@v5
      - name: Install dependencies
        uses: actions/setup-node@v3
        with:
          node-version: 14
      - name: Install project dependencies
        run: npm install

      - name: Run tests
        run: npm test